venv/

# Data
data/human_KGML/
data/reactome/
data/KEGG_compound_ids.txt

# Testing notebooks
notebooks/test*.ipynb
notebooks/*.graphml
notebooks/test_output/*

# Hidden files
**/.ipynb_checkpoints/
**/.DS_Store
**/__pycache__/
